@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #555;
}
.calendar {
  width: 400px;
  background-color: #fff;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

select {
  font-size: 18px;
  padding: 0 8px;
  margin: 0 10px;
  border: 1px solid #3498db;
  border-radius: 5px;
}

.daysOfWeek {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  background-color: #3498db;
  color: #fff;
  margin-bottom: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.day,
.empty {
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid rgb(205, 205, 205);
}
.empty {
  background-color: #f9f9f9;
}
.day:hover {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}
.current {
  background-color: rgb(255, 65, 65);
  color: #fff;
}
